/* Adds a fancy link to each header tag.  via https://jeroensormani.com/automatically-add-ids-to-your-headings/ */
h1 a.heading-link,
h2 a.heading-link,
h3 a.heading-link,
h4 a.heading-link,
h5 a.heading-link,
h6 a.heading-link {
	opacity: 0;
	position: absolute;
	left: -1em;
}
h2 {
	background-color: red;
}

h1:hover a.heading-link,
h2:hover a.heading-link,
h3:hover a.heading-link,
h4:hover a.heading-link,
h5:hover a.heading-link,
h6:hover a.heading-link {
	opacity: 1
}
